.row
  .col-md-6.col-md-offset-3
    %p#notice= notice

    %h2 Listing products

    - products.each do |product|
      .well.well-sm
        %h4
          = link_to product.title, category_product_path(product.category, product)
        = product.description
        %h3 
          %span.label.label-success{:style => "display:inline-block;"}
            Price: #{product.price}
          -if user_signed_in? && current_user == product.user
            = link_to 'Edit', edit_category_product_path(product.category, product), :class => "btn btn-warning"
            = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
